<% provide(:title, 'Terms') %>

<div class="box_2">
	<div class="row">
		<div class="small-3 columns">
			<%= render 'layouts/sidebar_left' %>
		</div>
		<div class="small-9 columns">
			<div class="section-header">Conditions Statement</div>
			<p>Welcome to Seventh Circle Audio. We look forward to providing you with superior professional audio products. The use of the Seventh Circle Audio website and forum is subject to the acceptance of the following conditions. If you do not agree to these conditions, please do not use the Seventh Circle Audio web sites. The use of the website automatically constitutes agreement to these conditions.</p>

			<h4>Your Privacy</h4>
			<p>Please review our <%= link_to 'Privacy Statement', privacy_url %>, which also governs your visit to SeventhCircleAudio.com and its related sites, to understand our information security practices.</p>

			<h4>Your Order &#038; Fraud Protection</h4>
			<p>In order to comply with the conditions of our payment processor, we require that your orders ship to the billing address of your credit card or an authorized alternate address. We may need to call or email you to clarify any questions we may have.</p>
			<p>The billing address of your card is the address that your monthly statement is mailed to. It is important that you provide us with this address correctly because we use this address in our verification process.</p>
			<p>If for some reason you cannot have your order shipped to your billing address you may contact the card company and have them add an alternate authorized address to your account. We will be able to verify this address when we process your order.</p>
			<p>Most banks will not allow an alternative address to be added to your debit card. If you need to have your order shipped to an alternative address we encourage you to not use a debit card.</p>
			<p>Please email us if you need any special accommodations regarding your order and we will do our best to help you.</p>

			<h4>Communications With Us</h4>
			<p>When you visit Seventh Circle Audio or send e-mails to us, you are communicating with us electronically. You consent to receive communications from us electronically. We will communicate with you by e-mail or by posting notices on this site. You agree that all agreements, notices, disclosures and other communications that we provide to you electronically satisfy any legal requirement that such communications be in writing.</p>

			<h4>Copyrights</h4>
			<p>All content integrated into this site, such as text, graphics, logos, button icons, images, audio/video clips, digital downloads, data compilations, and software, is the property of Seventh Circle Audio and protected by United States and international copyright laws. The compilation of all content on this site is the exclusive property of Seventh Circle Audio and protected by U.S. and international copyright laws. All software used on this site is the property of Seventh Circle Audio or its software suppliers and protected by United States and international copyright laws.</p>

			<h4>Your Rights to Our Site</h4>
			<p>Seventh Circle Audio grants you a limited license to access and make personal use of our website. This site or any portion of this site may not be reproduced, duplicated, copied, sold, resold, visited, or otherwise exploited for any commercial purpose without express written consent of Seventh Circle Audio, including but not limited to modifying or linking to it, or any portion of it. You may not make any resale or commercial use of this site or its contents; any collection and use of any product listings, descriptions, or prices; any derivative use of this site or its contents; any downloading or copying of account information for the benefit of another merchant; or any use of data mining, robots, or similar data gathering and extraction tools.. You may not frame or utilize framing techniques to enclose any trademark, logo, or other proprietary information (including images, text, page layout, or form) of Seventh Circle Audio without express written consent. Any unauthorized use terminates the permission or license granted by Seventh Circle Audio</p>

			<h4>Information Accuracy</h4>
			<p>Seventh Circle Audio works hard to ensure our site content is as accurate as possible. However, we do not warrant that information presented or other contents of this site are accurate, complete, reliable, current, or error-free.</p>

			<h4>Support Links</h4>
			<p>Seventh Circle Audio provides links to the sites of manufacturers and suppliers of tools and equipment our customers may find useful. We are not responsible for examining or evaluating, and we do not warrant, the offerings of any of these businesses. It is your responsibility to determine the suitability of any third party product or service. Further, we do not warrant that the information presented or other content of third party sites are accurate, complete, reliable, current, or error-free. Seventh Circle Audio does not assume any responsibility or liability for the actions, product, and content of any third parties.</p>

			<h4>Disclaimers and Limitation of Liability</h4>
			<p>THIS SITE IS PROVIDED BY SEVENTH CIRCLE AUDIO ON AN "AS IS" AND "AS AVAILABLE" BASIS. SEVENTH CIRCLE AUDIO MAKES NO REPRESENTATIONS OR WARRANTIES OF ANY KIND, EXPRESS OR IMPLIED, AS TO THE OPERATION OF THIS SITE OR THE INFORMATION, CONTENT, MATERIALS, OR PRODUCTS INCLUDED ON THIS SITE. YOU EXPRESSLY AGREE THAT YOUR USE OF THIS SITE IS AT YOUR SOLE RISK.</p>
			<p>TO THE FULL EXTENT PERMISSIBLE BY APPLICABLE LAW, SEVENTH CIRCLE AUDIO DISCLAIMS ALL WARRANTIES, EXPRESS OR IMPLIED, INCLUDING, BUT NOT LIMITED TO, IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE. SEVENTH CIRCLE AUDIO DOES NOT WARRANT THAT THIS SITE, ITS SERVERS, OR E-MAIL SENT FROM SEVENTH CIRCLE AUDIO ARE FREE OF VIRUSES OR OTHER HARMFUL COMPONENTS. SEVENTH CIRCLE AUDIO WILL NOT BE LIABLE FOR ANY DAMAGES OF ANY KIND ARISING FROM THE USE OF THIS SITE, INCLUDING, BUT NOT LIMITED TO DIRECT, INDIRECT, INCIDENTAL, PUNITIVE, AND CONSEQUENTIAL DAMAGES.</p>
			<p>CERTAIN STATE LAWS DO NOT ALLOW LIMITATIONS ON IMPLIED WARRANTIES OR THE EXCLUSION OR LIMITATION OF CERTAIN DAMAGES. IF THESE LAWS APPLY TO YOU, SOME OR ALL OF THE ABOVE DISCLAIMERS, EXCLUSIONS, OR LIMITATIONS MAY NOT APPLY TO YOU, AND YOU MIGHT HAVE ADDITIONAL RIGHTS.</p>

			<h4>Governing Law</h4>
			<p>By visiting Seventh Circle Audio, you agree that the laws of the state of California, without regard to principles of conflict of laws, will govern these Conditions of Use and any dispute of any sort that might arise between you and Seventh Circle Audio. You further agree that any such disputes or litigation will be filed in and subject to the courts located in Oakland, California.</p>
		</div>	
	</div>
</div>
