<% provide(:title, 'Contact Us') %>

<div class="box_2">
	<div class="row">
		<div class="small-3 columns" style="margin: 1em 0em 1em 1em">
			<%= render 'layouts/sidebar_left' %>
		</div>
	
		<div class="small-8 columns" style="margin: 5em 1em 0em 0em">

			<div><span class="aH3">E-Mail Addresses</span><hr color="CC0000"></div>
			
			<script language="Javascript" type="text/javascript">
			<!-- // hide from old browsers
			
			//variables
			var user1 = "sales"; //for example - "joe_bloggs"
			//var user2 = "orders"; //for example - "joe_bloggs"
			var user3 = "support"; //for example - "joe_bloggs"
			var user4 = "rma"; //for example - "joe_bloggs"
			
			var domain = "seventhcircleaudio.com"; //for example - "hotmail.com"
			var subject1 = "Sales Inquiry"; //for example = "website feedback"
			//var subject2 = "Ordering Question"; //for example = "website feedback"
			var subject3 = "Assembly Question"; //for example = "website feedback"
			var subject4 = "RMA Request"; //for example = "website feedback"
			
			//output
			document.write('<br><p class="asmtext">Sales Inquiries: ');
			document.write('<a href=\"mailto:' + user1 + '@' + domain + '?subject=' + subject1 + '\">'); 
			document.write('sales (at) seventhcircleaudio.com</a></p>');
			/*
			document.write('<br><p class="asmtext">Ordering Questions: ');
			document.write('<a href=\"mailto:' + user2 + '@' + domain + '?subject=' + subject2 + '\">'); 
			document.write('orders (at) seventhcircleaudio.com</a></p>');
			*/
			document.write('<br><p class="asmtext">Assembly Questions: ');
			document.write('<a href=\"mailto:' + user3 + '@' + domain + '?subject=' + subject3 + '\">'); 
			document.write('support (at) seventhcircleaudio.com</a></p>');
			
			document.write('<br><p class="asmtext">RMA Request: ');
			document.write('<a href=\"mailto:' + user4 + '@' + domain + '?subject=' + subject4 + '\">'); 
			document.write('rma (at) seventhcircleaudio.com</a></p>');
			// -->
			</script>
			 
			<br><br><br><div><span class="aH3">Mailing Address</span><hr color="CC0000"></div>
			
			<p class="asmtext">
			Seventh Circle Audio<br>
			1714 Franklin Street<br>
			Suite B1<br>
			Oakland, CA  94612<br>
			(510) 451-1499
			</p>
			
			<p style="height: 20em"></p>
			
		</div>
	</div>	
</div> <!-- box_2 -->
