<% provide(:title, 'Forum') %>
<div class="box_2">
	<div class="row">
		<div class="small-9 columns">
			
			<div class="panel callout">
				<h5><b>Rules:</b></h5>
				<ol>
					<li>You must register to post a message. We realize it's annoying, but it's the only way we know you're not a robot.</li><br>
					<li>You don't have to register to browse, search, or lurk through the board.</li><br>
					<li>Please post topics in the appropriate forum. Off-topic posts will be moved or deleted.</li><br>
					<li>Please post responsibly.  Users found to be abusing the board will be promptly banned. We simply don't have time to be dealing with screwups.</li>
				</ol>
			</div>
				
			<div align="center">
				<!--
				Sorry for the inconvenience, but our forum server is down. Please try again later.
				-->
				<a href="http://www.seventhcircleaudio.com/phpBB3/index.php" target="_top"><b>Enter Forums</b></a>
				<br><br><br><br>
			</div>
		</div>
		<div class="small-3 columns">
			<%= render 'layouts/sidebar_left' %>
		</div>
	</div>	
</div> <!-- box_2 -->
