<% provide(:title, 'Ordering Instructions') %>
<div class="box_2">
	<div class="row">
		<div class="small-9 columns">
			<!-- <h4 class="section-header">Ordering Instructions</h4> -->
			<h4 class="section-header">US Orders</h4>
			<!-- <h5>US Orders</h5> -->
			<ul>
				<li>To place an order using our shopping cart, please follow these steps:<br><br></li>
				<ol>
					<li>Enter the quantity and click "add" for each item you want to order.  Click "Reset" to clear all entries.</li>
					<li>Enter a valid zip code and click "Get Rates" to retrieve rate information from <A HREF=# onClick="window.open('http://www.ups.com');">UPS.</A></li>
					<li>Select your preferred shipping method.  Faster service options may reduce your order's time in transit but won't make it ship any sooner.</li>
					<li>Click "Checkout" to complete your order through <A HREF=# onClick="window.open('https://www.paypal.com/');"><b>PayPal.</b></a></li>
					<li>If you prefer to pay by mail, print the page and send it with check or money order to:<br><br>
					Seventh Circle Audio<br>
					1714 Franklin St, Ste B1<br>
					Oakland, CA  94612<br>
					USA</li>
				</ol><br>
				<li>Please allow two weeks for checks to clear.</li>
				<li>We charge 9% tax for sales within California.</li>
				<li>We ship via <b>UPS only</b>, no exceptions.</li>
			</ul>
			<h5 class="section-header"></h5>
			<ul>
				Customers outside the US have two options. Have us ship directly via UPS, or use a forwarding service such as <a href="http://www.shipito.com">Shipito</a>, <a href="http://www.myus.com/">MyUS</a>, or <a href="https://bongous.com/">Bongo</a>.  Direct shipping will be a bit faster; the forwarding service may be less expensive.  We highly recommend using a forwarding service if you plan to make several orders to fill up your chassis.  The accumulated savings can be substantial.<br><br>
				<li>To place an order using a forwarding service:<br><br>
					<ol>
						<li>Sign up at a site such as such as <a href="http://www.shipito.com">Shipito</a>, <a href="http://www.myus.com/">MyUS</a>, or <a href="https://bongous.com/">Bongo</a>.
						<li>Obtain a shipping address from the forwarding service.  If you have a choice, get one in Oregon to avoid sales tax.</li>
						<li>Using the shopping cart, enter the quantity and click "add" for each item you want to order.</li>
						<li>Enter the ZIP code you received from the forwarding service and click "Get Rates" to retrieve rate information from <A HREF=# onClick="window.open('http://www.ups.com');">UPS.</A></li>
						<li>Select your preferred shipping method. We recommend ground shipping.</li>
						<li>Click "Checkout" to complete your order through <A HREF=# onClick="window.open('https://www.paypal.com/');"><b>PayPal.</b></a>
						<li>We ship your order to the forwarding service, they ship it to you.</li>
					</ol>
				</li>
				<br><br>
				<li>To place an international order for direct shipping via UPS:<br><br>
					<ol>
						<li>Using the shopping cart, enter the quantity and click "add" for each item you want to order.
						<li>Open the <A HREF=# onClick="window.open('http://wwwapps.ups.com/calTimeCost?loc=en_US');">UPS Time and Cost Calculator.</A>
						<li>Select "Detailed Time and Cost".</li>
						<li>Enter "United States", "Oakland" and "94612" as the "Ship From" information.</li>
						<li>Enter your "Ship To" information.</li>
						<li>Select the proper "Destination Type".</li>
						<li>Select a shipping date.</li>
						<li>Set "Number of Packages" to 1.
						<li>For "Customs Value", enter the merchandise subtotal calculated by the shopping cart.</li>
						<li>Select "My Packaging".
						<li>For "Package Weight", enter the total weight calculated by the shopping cart.</li>
						<li>If your order includes a chassis or more than 3 modules, enter "24 x 12 x 6" for package dimensions.  Otherwise, enter "12 x 9 x 6".
						<li>For "Declared Value", enter the merchandise subtotal calculated by the shopping cart.</li>
						<li>Select "I will prepay my shipping charges".</li>
						<li>Choose your desired UPS service.
						<li>Use the "Send Money" feature of your <A HREF=# onClick="window.open('https://www.paypal.com/');"><b>PayPal</b></a> account to send the total directly to sales@seventhcircleaudio.com.  Please include a note with your payment that includes:
						<ul><br><li>Items in your order</li>
						<li>Shipping address</li>
						<li>UPS service desired (Standard, Saver, etc.)</li>
						<li><b>Telephone number</b></li></ul><br></li>
						<li>If you prefer to pay by mail, send an international money order to:<br><br>
						Seventh Circle Audio<br>
						1714 Franklin St, Ste B1<br>
						Oakland, CA  94612<br>
						USA
					</ol><br>
				<li>We require a $200 USD minimum for orders outside the U.S. and Canada.
				<li>You are responsible for paying VAT and duties upon receipt of merchandise.
				<li>We <b>will not under any circumstances</b> alter invoices or other documents in order to lower your taxes.
				<li>You <b>must</b> include a phone number in addition to your shipping address.
				<li>We ship via <b>UPS only</b>, no exceptions.<br><br>
			</ul>
		</div>
		<div class="small-3 columns">
			<%= render 'layouts/sidebar_left' %>
		</div>	
	</div>	
</div>
