<% provide(:title, 'Terms') %>
<div class="box_2">
	<div class="row">
		<div class="small-9 columns">
			<h4 class="section-header">Privacy Statement</h4>

			<h5>Our Commitment to Privacy</h5>
			<p> We're pleased you have chosen SeventhCircleAudio.com for your recording needs. We are committed to protecting your personal information. This page explains how we collect, use and secure the information that you provide to us.</p>

			<h5>What Information Do We Collect?</h5>
			<ul>
				<li><b>Information That You Provide Us</b> We accept and store most information that you submit on SeventhCircleAudio.com or transmit to us by other means. This information may include name, billing and shipping addresses, phone numbers, email address, and other personal information. Seventh Circle Audio <b>never</b> stores credit card numbers or other payment information in our database.</li>
				<li><b>Web Site Use Information</b> We collect and analyze information about how customers interact with SeventhCircleAudio.com including, but not limited to, IP addresses, browser types, operating systems, pages viewed, links, dates and times, and other information.</li>
				<li><b>Cookies</b> SeventhCircleAudio.com uses "cookies" to manage some of the details of your visit to the site. As part of this activity, SeventhCircleAudio.com participates in the Google Site Stats program. <a href="http://www.google.com/intl/en/privacy/ads/privacy-policy.html" target="_blank">Click here to learn more</a>.</li>
				<li><b>Email Information and Contact Forms</b> We may collect, store, and use any information that you submit via email or any of the forms on our website. We may also collect information about email communications such as confirming that an email was opened or which links were clicked.</li>
			</ul>

			<h5>How We Use Collected Information</h5>
			<p> We use collected information to administer business activities such as completing and tracking orders, communicating with customers, troubleshooting and improving the website, and other business uses. From time to time, we may send you promotional messages by mail or email. You will always have the option to opt out of such communications.</p>
			<p>We do not intentionally share your information with third parties except as required by law or to facilitate business operations (such as with shipping partners and payment processors).</p>

			<h5>How We Protect Your Information</h5>
			<p> In order to protect your information, we have put in place appropriate electronic, physical, and procedural safeguards. We utilize standard encryption/security technology to protect data transfer and our information systems are treated with the highest regard for security. In addition, we limit access to customer information to only authorized personnel.</p>

			<h5>Your Order &#038; Fraud Protection</h5>
			<p>In the event of a criminal investigation or a suspected illegal activity, we may be required by law enforcement agencies to share certain personal information.</p>
			<p>As part of the conditions placed upon us by our payment processor, we may require that your orders ship to the billing address of your credit card or an authorized alternate address. We may also need to call or email you to further clarify any questions we may have.</p>
			<p>The billing address of your card is the address that your monthly statement is mailed to. It is important that you provide us with this address correctly because we use this address in our verification process.</p>
			<p>If for some reason you cannot have your order shipped to your billing address you may contact the card company and have them add an alternate authorized address to your account. We will be able to verify this address when we process your order.</p>
			<p>Most banks will not allow an alternative address to be added to your debit card. If you need to have your order shipped to an alternative address we encourage you to not use a debit card.</p>
			<p>Please feel free to contact us if you need any special accommodations regarding your order and we will do our best to help you.</p>

			<h5>How You Can Review or Correct Your Information</h5>
			<p> To review or correct your personal information, or to change your communication preferences, please visit your account settings. You may change your communications settings at any time.</p>

			<h5>Links to Other Websites</h5>
			<p> Seventh Circle Audio is not responsible for the content or practices employed by other websites that are linked to from SeventhCircleAudio.com. When you use a link to go from SeventhCircleAudio.com to another website, our privacy policy is no longer in effect.</p>

			<h5>Your Consent</h5>
			<p> By using our website you consent to our collection and use of your personal information as described in this Policy. If we change our policies and procedures, we will post those changes on our website to keep you aware of what information we collect, how we use it and under what circumstances we may disclose it.</p>
			<p>This policy was last updated on May 1, 2014. If you have any questions or concerns about this privacy policy, please email <a href=mailto:admin@SeventhCircleAudio.com>admin@SeventhCircleAudio.com</a>.</p>
		</div>
		<div class="small-3 columns">
			<%= render 'layouts/sidebar' %>
		</div>
	</div>	
</div>
