<% provide(:title, 'Repairs') %>
<div class="box_2">
	<div class="row">
		<div class="small-9 columns">
			<h4 class="section-header">Repair Policy</h4>
			<p>If you've carefully checked your work, posted your problems to the <a target="right" href="msgboard.htm">message board</a>, <a href="contact.htm">e-mailed</a> us for suggestions, and still can't get your assembled kit to work, please send it back for repair.  Your Seventh Circle Audio modules are capable of world-class performance and there's no reason you should be stuck with a non-working kit instead of a great preamp.</p>
			
			<h5>What we do</h5>
			<p>Seventh Circle Audio has a fixed-price repair policy. Instead of troubleshooting individual modules and billing for time and and materials, we salvage the most valuable components (transformers, switches, etc.) from faulty modules and install them on new circuit boards, with new parts, for a fixed price. The result is a preamp module that is guaranteed to work as well and look as good as any other assembled by us.</p>

			<h5>Why we do it</h5>
			<p>Although only a small number of kits come back to us, virtually all of the non-working modules we've seen suffer from unacceptably poor workmanship. Inexperienced kit builders have gone wrong in about every way imaginable: too much solder, cold solder joints, leads not trimmed, components sticking up in the air, transformer leads too long or too short, damaged XLRs, and so on. Since it usually requires at least as much time to bring these modules up to our standards as it does to build a module from scratch, that's exactly what we do - rebuild it.</p>

			<h5>What you get out of it</h5>
			<p>If you decide to return a module to us for rebuilding, the one you'll receive will be guaranteed to work as well as any new module assembled by us, since that's exactly what it will be. You'll also get it back faster, since we can do much of the work in advance and keep partially assembled boards in stock. Plus, you'll have a module that you can use as a reference for how your next kit should look.</p>

			<h5>What we get out of it</h5>
			<p>We have more time to develop new products and improve our existing ones. The policy also gives us a means to guarantee uniform quality of every module that comes through our shop. This helps build confidence in the Seventh Circle Audio brand which benefits both us and our customers.</p>

			<h5>Exceptions to every rule</h5>
			<p>If upon inspection your module appears to be perfectly assembled but for some reason still isn't working, we'll find and fix the problem at our standard rate of $50/hr.</p>
			
			<h4 class="section-header">Returns</h4>
			<p><a href="contact.htm"><b>Print</b></a> a <%= link_to 'repair authorization form', asset_path('rma.pdf') %>.  Please describe the symptoms you're experiencing as clearly as possible.  We must have a complete return shipping address (no P.O. boxes) and a working e-mail address.  It is not necessary to e-mail for authorization, but we will decline to work on any items returned without an authorization form.</p>
			<p><b>Ship</b> your well-packed module to:</p>
			<p>
			Seventh Circle Audio<br>
			1714 Franklin Street<br>
			Suite B1<br>
			Oakland, CA  94612<br>
			</p>
			<p><b>UPS</b> or <b>FedEx</b> is <b>greatly</b> preferred.</p>
			<p><b>Upon completion,</b> we'll send a <b>PayPal invoice</b> to the e-mail address included on the authorization form.</p>
			<p><b>Rebuild prices (subject to change)</b></p>
			<div>
				<table style="border: none; margin: 0">
					<tr ><td style="width: 4em; margin: 0; padding: 0"><b>A12</b></td><td style="margin: 0; padding: 0">$165<br></td></tr>
					<tr><td style="width: 4em; margin: 0; padding: 0"><b>C84</b></td><td style="margin: 0; padding: 0">$175<br></td></tr>
					<tr><td style="width: 4em; margin: 0; padding: 0"><b>J99</b></td><td style="margin: 0; padding: 0">$175<br></td></tr>
					<tr><td style="width: 4em; margin: 0; padding: 0"><b>N72</b></td><td style="margin: 0; padding: 0">$175<br></td></tr>
					<tr><td style="width: 4em; margin: 0; padding: 0"><b>T15</b></td><td style="margin: 0; padding: 0">$150<br></td></tr>
				</table>
			</div>
		</div>
		<div class="small-3 columns">
			<%= render 'layouts/sidebar_left' %>
		</div>	
	</div>	
</div>
