%table.bom-table
  %tr
    %th.text Mfr Nmbr
    %th.text Value
    %th.text Description
    %th.text Mfr
    %th.number Cp Stk
    %th.number Bm Stk
    %th.text Tag
    %th.text Delete
  = yield