.row
  .small-3.columns &nbsp;
  .small-6.columns
    .field
      = f.hidden_field :url, value: update_option_bom_importers_path
      = f.label :component, 'Root Component'
      = f.select :component, options_from_collection_for_select(@bom_importer.components, :id, :mfr_part_number, @bom_importer.component)
  .small-3.columns &nbsp;
