<% provide(:title, 'FAQ') %>

<div class="box_2">
	<div class="row">
		<div class="small-9 columns">
			<% categories.each do |cat| %>
				<%= render partial: "accordion", locals: {title: cat.category_name, faqs: cat.faqs.order(:question_weight)} %>
			<% end %>
		 	<% if signed_in_admin? %>
				<div class="admin-box">
					<%= link_to 'New Faq', new_faq_path, label: 'New Faq', class: 'button admin' %>
				</div>
			<% end %>
		</div>
		<div class="small-3 columns">
			<%= render 'layouts/sidebar_left' %>
		</div>
	</div>	
</div>
