.row
  .small-12.columns
    .field
      = f.hidden_field :url, value: update_option_boms_path
      = f.label :root_component, 'Root Component'
      = f.select :root_component, options_from_collection_for_select(@bc.components, :id, :mfr_part_number, @bc.root_component)
