<p>Hello <%= @user.name %>,</p>

Your order is on its way, UPS tracking number <%= @user %>. Keep in mind this number may not be active immediately.  If you have any questions regarding assembly, please post them to our message board or e-mail us for help at support@seventhcircleaudio.com.  Detailed assembly instructions are available at our web site, but don't forget to check the message board for the latest changes, updates, and clarifications.  Please follow the assembly instructions carefully!  Thanks again for your order.

<p>Best regards,</p>

<p>Seventh Circle Audio</b>
1714 Franklin Street, Ste B1</b>
Oakland, CA  94612</p>

<p>510-451-1499</p>

<p><%= link_to "Seventh Circle Audio", home_url %></p>
