<p>Hello <%= @user.name %></p>

<p>Thank you for creating an account!</p>

<p>You can view your user profile <%= link_to "here", user_url(@user) %>.</p>

<p>Best regards,</p>

<p><%= link_to "Seventh Circle Audio", home_url %></p>
