<fieldset class="confirm-user">
	<legend><%= legend %></legend>
	<table class="address-table">
		<tr class="field">
			<td class="input"><%= f.name %></td>
		</tr>
		<tr class="field">
			<td class="input"><%= f.email %></td>
		</tr>
	</table>
</fieldset>
