<% provide(:title, 'Option ' + @option.model) %>

<div class="box_2">
	<div class="row">
		<div class="small-12 columns">
			<%= form_for [@product, @option] do |f| %>
				<%= render 'shared/errors', object: f.object %>
				<%= render :partial => 'form', 	:locals => { 
																				:f => f,
																				:p => @product,
																				:legend => 'Edit Option', 
																				:submit => 'Save',
																				:quit => 'Quit',
																				:delete => 'Delete' } %>
			<% end %>
		</div>
	</div>	
</div>

