<% provide(:title, 'New Option') %>

<div class="box_2">
	<div class="row">
		<div class="small-12 columns">
			<%= form_for [@product, @option] do |f| %>
				<%= render 'shared/errors', object: f.object %>
				<%= render partial: 'form', :locals => { 
																				:f => f,
																				:p => @product,
																				:legend => 'Create Option', 
																				:submit => 'Save',
																				:quit => 'Quit',
																				:delete => nil } %>
			<% end %>
		</div>
	</div>	
</div> <!-- box_2 -->

