- if object.errors.any?
  #error_explanation
    .callout.alert
      There are #{pluralize(object.errors.count, "error")} on the page:
      %ul
      - object.errors.full_messages.each do |msg|
        %li= msg