<%= form_for slider_image do |f| %>
	<%= render 'form', f: f %>
	<div class="admin-box">
		<%= f.submit 'Update', class: "button admin" %>
		<%= link_to 'Delete', slider_image, method: :delete, class: "button admin", data: { :confirm => 'Are you sure?' } %>
	</div>
<% end %>


