<% provide(:title, 'Home') %>

<div class="box_2">

	<div class="row" style="margin: 2em 0 2em 0">
		<div class="small-12 small-centered columns">
			<ul class="example-orbit" data-orbit>
 				<% @slider_images.each do |image| %>
				  <li>
	  				<%= link_to image_tag(image.url), slider_image_path(image) %>
				    <div class="orbit-caption">
				    	<%= image.caption %>
    				</div>
	  			</li>
 				<% end %>
			</ul>
		</div>
	</div>

 	<% if signed_in? && current_user.admin? %>
		<%= button_to 'Add Image', new_slider_image_path, label: 'Add Image', id: 'add_image', class: 'button', method: 'get' %>
	<% end %>

	<div class="row" style="margin: 2em 0 2em 0">
		<div class="small-9 small-centered columns">
			<div class="row">
				<div class="small-12 columns">
					<span class="aH5B Q">Q:&nbsp;</span>
					<span class="aH4B A">WHO MAKES THE BEST PREAMPS FOR THE MONEY?</span>
				</div>
			</div>
			<div class="row">
				<div class="small-12 columns">
					<span class="aH5B Q">A:&nbsp;</span>
					<span class="aH4B A">YOU DO.</span>
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="small-10 small-centered columns">
		
			<p>Seventh Circle Audio provides professional quality electronic kits and support to handy audio recording engineers.&nbsp;&nbsp;Our flexible, modular <a href="products.htm">preamp kits</a> provide a full range of "colors" suitable for any application and are in daily use by recordists world-wide.<br><br></p>
			
			<ul class="ul_1">
			<li><span class="aH6B">Assemble</span><span class="text"> your own world-class microphone preamp by combining a <a href="products.htm#power">CH01</a> chassis, <a href="products.htm#power">PS03</a> power supply, <a href="products.htm#power">WH01</a> wiring harness and up to eight of our superb amplifier <a href="products.htm#modules">modules</a>.</span></li>
			<li><span class="aH6B">Customize</span><span class="text"> your system to suit your current needs and expand as your studio grows.&nbsp;&nbsp;We currently have five preamp modules available, each with its own distinct personality, as well as a 2-channel active instrument DI.&nbsp;&nbsp;More modules are on the way!</span></li>
			<li><span class="aH6B">Improve</span><span class="text"> your skills as an engineer by learning about electronics.</span></li>
			<li><span class="aH6B">Impress</span><span class="text"> your clients with what you can build, not just what you can buy.</span></li>
			<li><span class="aH6B">Save money!</span><span class="text"> Stretch your studio budget by investing your down time in DIY.</span></li>
			</ul>
			
			<p>Each kit is thoroughly documented with assembly instructions, bills of material and schematics. All the documentation is freely downloadable so you can be ready to go before your kits arrive.&nbsp;&nbsp;If you get stuck or have questions, support is available via <a href="mailto:sales@seventhcircleaudio.com">e-mail</a> and the <a href="msgboard.htm">message board</a>.&nbsp;&nbsp;We <a href="support.htm">guarantee</a> you won't be stuck with a non-working kit!<br><br></p>
			
			<p align="center"><span class="aH6B" >Check the <a href="cart/cart.htm">order page</a> for package discounts on complete kits!</span></p>

		</div>			
	</div>
	<div class="row" style="margin: 2em 0 2em 0">
		<div class="small-10 small-centered columns">
			<%= image_tag("CH01_Big720-01.jpg") %>
		</div>
	</div>
</div>
