<% provide(:title, 'New Slider Image') %>

<div class="box_2">
	<div class="row">
		<div class="small-3 columns" style="margin: 1em 0em 1em 1em">
			<%= render 'layouts/sidebar_left' %>
		</div>
		<div class="small-8 columns" style="margin: 5em 1em 0em 0em">
			<%= form_for(@slider_image) do |f| %>
				<%= render 'shared/errors', object: f.object %>
				<%= render :partial => 'form', 	:locals => { 
																				:f => f, 
																				:legend => 'New Slider Image', 
																				:submit => 'Create',
																				:edit => nil,
																				:quit => 'Quit',
																				:delete => nil } %>
			<% end %>
		</div>
	</div>	
</div> <!-- box_2 -->

