%fieldset.confirm-address
  %legend= legend
  %table.pack-table
    %tr
      %td 1714 Franklin St, Ste B2
    %tr
      %td Oakland, CA  94612
    %tr
      %td 510.972.8346
    %tr
      %td sales@seventhcircleaudio.com
    %tr
      %td www.seventhcircleaudio.com
