<fieldset class="confirm-shipper">
	<legend><%= legend %></legend>
	<table class="confirm-table">
		<tr>
			<td><%= f.shipping_method %></td>
			<td><%= number_to_currency(f.shipping_cost.to_f / 100) %></td>
		</tr>
	</table>
</fieldset>
