<fieldset class="confirm-shipper">
	<legend><%= legend %></legend>
	<table class="address-table">
		<tr class="field">
			<td class="input"><%= f.shipping_method %></td>
		</tr>
		<tr class="field">
			<td class="input"><%= f.shipping_cost %></td>
		</tr>
	</table>
</fieldset>
