<div>
	<ul class="checkout-breadcrumbs">
	  <li class="unavailable"><a href="#">CHECKOUT</a></li>
	  <li class="unavailable"><a href="#">Addresses</a></li>
	  <li class="unavailable"><a href="#">Shipping Method</a></li>
	  <li class="unavailable"><a href="#">Payment</a></li>
	  <li class="unavailable"><a href="#">Review</a></li>
	</ul>
</div>
