.main-cart
  %table.main-cart
    %tr
      %td.item-cell
        Seventh Circle Audio
        %br
        1714 Franklin Street, Ste B2
        %br
        Oakland, CA  94612
        %br
        510-972-8346
      %td.item-cell
        Invoice Number:
        = cart.id
        %br
        Created:
        = Date.today
        %br
        Due on receipt