- select_name ||= params[:select_name]
- subregion ||= 0
%div{id: -select_name + '[state_code]' }
  - parent_region ||= params[:parent_region]
  - country = Carmen::Country.coded(parent_region)
  - if country.nil?
    %em Please select a country below
  - elsif country.subregions?
    = subregion_select(select_name, :state_code, parent_region, selected: subregion)
  - else
    = text_field(select_name, :state_code)