<li>
  <%= faqs_category.category_name %> &nbsp;
 	<%= faqs_category.category_weight %>
 	<% if signed_in_admin? %>
    &nbsp; | &nbsp;
    <%= link_to "edit", edit_faqs_category_path(faqs_category), method: :get %>
 		&nbsp; | &nbsp;
  	<%= link_to "delete", faqs_category, method: :delete, 
  			data: { confirm: "Are you sure?" } %>
	<% end %>
</li>