@import "foundation";
@import "colors";

// @include foundation-accordion;


// accordion

.accordion-container {
  padding: 0;
  @include breakpoint(medium) {
    padding: 1rem 1rem 0rem 1rem;
  }
}

.accordion {
  margin-bottom: 1rem;

  dt {
    color: $red-30;
    background: $brown-60;
    margin: 0;
    padding: 0.50rem;    
  }

  dd.accordion-item {
    background: $brown-60;
    border-top: solid 1px $brown-85;

    &:hover {
      background: darken($brown-60, 6%);
    }

    & > a {
      display: block;
      color: $brown-00;
      padding: 0.50rem;
      line-height: 2em;
    }
  }

  .accordion-content {
    border-left: solid 1px darken($brown-60, 6%);
    border-right: solid 1px darken($brown-60, 6%);
  }
}
