
@import 'foundation';
@import 'colors';

/* General */

body {
  background: none;
  background-color: $brown-00;
  color: $brown-00;
}

.grid-container {
  padding: 0;
}

div.jump-up {
  width: 100%;
  text-align: right;  
}

span.red-60 {
  color: $red-60;
}

.section-header {
  padding: 0.5rem 0 0.125rem 0.5rem;
  margin: 0;
  @include breakpoint(medium) {
    padding: 0 0 0.125rem 0.25rem;
  }
  border-bottom: solid $red-60;
  border-width: 1px;
}

/* Header */

header {
  background-color: $brown-85;
  padding: 0;
}

.banner {
  padding-left: 1em;
  padding-right: 1em;
  justify-content: space-between;
  align-items: center;
}

.user-login {
  a {
    color: $brown-10;
  }
}

/* Footer */

div.footer {
  background-color: $brown-10;
  clear: both;
  font-size: 0.6em;
  text-align: center;
  color: $brown-30;
  padding: 2em 0 2em 0;
  p {
    margin: 1em 0 1em 0;
    padding: 0;
    font-size: 1em;
    a {
      color: $brown-20;
    }
    a:visited {
      color: $brown-20;
    }
  }    
}

/* Orbit */

div.slider-box {
  margin: 0;
  padding: 0;
  width: 100%;
}

.orbit-container {
  .img {
    height: 28em;
  }
  .orbit-slides-container {
    border-bottom: 1px solid $brown-70;
  }
}

div.orbit-bullets-container ol.orbit-bullets {
  margin-bottom: 0.2em;
}
// ul.example-orbit[data-options] {
//   animation: slide;
//   pause_on_hover: true;
//   resume_on_mouseout: true;
//   timer: true;
//   timer_speed: 5000;
//   animation_speed: 500;
//   navigation_arrows: false;
//   slide_number: false;
//   slide_number_text: '';
//   bullets: true;
// }
main[role=main] {
  display: block;
  margin: 0;
  padding: 0;
  background: none;
  background-color: $brown-85;
  color: $brown-00;
}

.box_2 {
  background-color: inherit;
  margin: 0;
  padding: 0;
}

span.Q {
  float: left;
  width: 2em;
  text-align: right;
  line-height: 1.25em;
}

span.A {
  text-align: left;
  line-height: 1.25em;
}

ul.ul_1 {
  list-style: square; 
  color: #CC0000; 
}

ul.ul_1 li{
  margin: 0 2em 1em 2em;
}

// fieldset

fieldset {
  border: none;
  margin: 0 0 1em 0;
  padding: 0.5em 0.5em 0.5em 0.5em;

  legend {
    background-color: inherit;
  }
}

// Product index

div.category-box {
  font-weight: bold;
  padding: 0.2em 0.5em 0.2em 0.5em;
  margin: 0 0 0 0;
  background-color: $brown-60;
}

div.admin-box {
  display: flex;
  justify-content: center;
  margin: 0.5em 0 0.5em 0;
}

div.button-box {
  display: flex;
  justify-content: center;
  margin: 0.5em 0 0.5em 0;
}

div.checkout-box {
  display: flex;
  justify-content: space-between;
  margin: 0.5em 0 0.5em 0;
}

.text-box {
  padding: 0 0.25rem 0 0.25rem;
}

.features-box {
  padding: 0 0.25rem 0 0.25rem;
}

div.product {
  font-size: 0.85em;
  line-height: 1.3em;
  .options-box {
    margin: 1em 0 1em 0;
    .select-option {
      width: 100%;
      height: 1.6em;
      margin: 0;
      padding: 0;
      font-size: 95%;
      background-color: inherit;
      &:focus {
        outline: $brown-30 auto 5px;
        outline-color: $brown-30;
      }
    }
    .actions-box {
      display: flex;
      justify-content: flex-start;
      margin-top: 1em;
      .add {
        & > .button_to {
          display: inherit;
          & > div {
            display: inherit;
          }
        }
      }
      .price {
        text-align: left;
        font-size: 1.75em;
        font-weight: bold;
        color: $red-50;
        margin: auto auto auto 0.5em;
      }        
      .stock {
        color: $brown-10;
        font-size: 1.35em;
        font-weight: bold;      
        margin: auto 0 auto auto;
      }
    }  
  }
  .description {
    margin-top: 0.35em;
  }
  .notes {
    margin-top: 1em;
    font-weight: bold;
  }
  &.small {    
    padding: 0.5em 0 0.5em 0;
    &.even {
      background-color: darken($brown-85, 3%);
    }
    .image-box {
      display: table-cell;
      vertical-align: middle;
      & img {
        border: 1px solid $brown-60;
      }
    }
  }
  &.large {
    .product-image {
      margin: 0 0 1em 0;
      width: 100%;
      height: auto;
      // border: 1px solid $brown-60;
    }
    .feature-box {
      // display: inline-block;
      // width: 100%;
      margin: 1.5rem 0 0 0;
      .caption-box {
        font-weight: bold;
        float: left;
        width: 30%;
      }
      .description-box {
        float: left;
        width: 70%;
      }
      .admin-box {
        text-align: center;
        width: 100%
      }
    }
    .actions {
      margin: 1em 0 0 0;
    }
  }
}

// forms

#error_explanation {
  color: $red-30;
  ul {
    font-size: .75em;
    list-style: none;
    margin: 1em 0 1em 0;
  }
}

.field_with_errors {
//  border: solid;
//  border-width: 1px;
//  border-color: $sca-red-3;
  font-weight: bold !important;
  color: $red-30 !important;
}

// Debug panel

.debug_dump {
  // @include panel(
  //   $bg: $brown-60,
  //   $padding: 20px,
  //   $adjust: true
  // );
  width: 100%;
  margin-top: 45px;
}

// Panel

.panel.callout {
  // @include panel();
  border-style: none;
  border-width: 1px;
  border-color: $brown-20;
  margin-bottom: 1.25rem;
  padding: 1.25rem;
  background: $brown-70;
  color: $brown-10;
}

// Alert/Message box

.callout {
  border: none;
  button.close-button {
    color: $brown-20;
    &:hover {
      background-color: transparent;
    }
  }
}

/* Users index */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-top: 1px solid $brown-60;
    &:last-child {
      border-bottom: 1px solid $brown-85;
    }
  }
}
