
@import 'foundation';
@import 'colors';

/* General */

body {
  background: none;
  background-color: $brown-00;
  color: $brown-00;
}

.grid-container {
  padding: 0;
}

div.jump-up {
  width: 100%;
  text-align: right;  
}

span.red-60 {
  color: $red-60;
}

.admin-box {
  display: flex;
  justify-content: center;
  margin: 0.5em 0 0.5em 0;
}

.button-box {
  display: flex;
  justify-content: center;
  margin: 0.5em 0.5em;
}

.checkout-box {
  display: flex;
  justify-content: space-between;
  margin: 0.5em 0 0.5em 0;
}

.section-header {
  padding: 0.5rem 0 0.125rem 0.5rem;
  margin: 0;
  border-bottom: solid $red-60;
  border-width: 1px;
  @include breakpoint(medium) {
    padding: 1rem 0rem 0.05rem 0rem;
    &.index {
      padding: 1rem 0rem 0.05rem 1rem;
    }
  }
}

.checkout-text-box {
  margin: 0;
  padding: 0 0.5rem 0 0.5rem ;
  @include breakpoint(medium) {
    padding: 0 1rem 0 1rem ;
  }
}

/* Header */

header {
  background-color: $brown-85;
  padding: 0;
}

.banner {
  padding-left: 1em;
  padding-right: 1em;
  justify-content: space-between;
  align-items: center;
}

.user-login {
  a {
    color: $brown-10;
  }
}

/* Footer */

div.footer {
  background-color: $brown-10;
  clear: both;
  font-size: 0.6em;
  text-align: center;
  color: $brown-30;
  padding: 2em 0 2em 0;
  p {
    margin: 1em 0 1em 0;
    padding: 0;
    font-size: 1em;
    a {
      color: $brown-20;
    }
    a:visited {
      color: $brown-20;
    }
  }    
}

/* Orbit */

div.slider-box {
  margin: 0;
  padding: 0;
  width: 100%;
}

.orbit-container {
  .img {
    height: 28em;
  }
  .orbit-slides-container {
    border-bottom: 1px solid $brown-70;
  }
}

div.orbit-bullets-container ol.orbit-bullets {
  margin-bottom: 0.2em;
}

main[role=main] {
  display: block;
  margin: 0;
  padding: 0;
  background: none;
  background-color: $brown-85;
  color: $brown-00;
}

.box_2 {
  background-color: inherit;
  margin: 0;
  padding: 0;
}

span.Q {
  float: left;
  width: 2em;
  text-align: right;
  line-height: 1.25em;
}

span.A {
  text-align: left;
  line-height: 1.25em;
}

ul.ul_1 {
  list-style: square; 
  color: #CC0000; 
}

ul.ul_1 li{
  margin: 0 2em 1em 2em;
}

// fieldset

fieldset {
  border: none;
  margin: 0 0 1em 0;
  padding: 0.5em 0.5em 0.5em 0.5em;

  legend {
    background-color: inherit;
  }
}

// forms

#error_explanation {
  color: $red-30;
  ul {
    font-size: .75em;
    list-style: none;
    margin: 1em 0 1em 0;
  }
}

.field_with_errors {
//  border: solid;
//  border-width: 1px;
//  border-color: $sca-red-3;
  font-weight: bold !important;
  color: $red-30 !important;
}

// Debug panel

.debug_dump {
  // @include panel(
  //   $bg: $brown-60,
  //   $padding: 20px,
  //   $adjust: true
  // );
  width: 100%;
  margin-top: 45px;
}

// Panel

.forum {
  &.container {
    padding: 0;
    @include breakpoint(medium) {
      padding: 1rem 1rem 1rem 1rem;
    }
  }
  &.callout {
    border-style: none;
    border-width: 1px;
    border-color: $brown-20;
    margin-bottom: 1.25rem;
    padding: 0.5rem;
    background: $brown-70;
    color: $brown-10;
    @include breakpoint(medium) {
      margin-bottom: 1.25rem;
      padding: 1.25rem;
    }
  }
}

// Alert/Message box

.callout {
  border: none;
  button.close-button {
    background-color: inherit;
    color: $brown-20;
    &:hover {
      color: $red-20;
    }
  }
}

/* Users index */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-top: 1px solid $brown-60;
    &:last-child {
      border-bottom: 1px solid $brown-85;
    }
  }
}
