// Orders

@import "colors";

div.user {
  width: 100%;
  margin: 0;
  div.user-info {
    display: inline-block;
    width: 49%;  
  }
  
  div.contact-preferences {
    display: inline-block;
    width: 49%;    
  }
}

div.addresses {
  width: 100%;
  margin: 0;
  div.address {
    display: inline-block;
    width: 49%;
    margin: 0;
  }
}

div#use-billing {
  position: relative;
  top: 1.5em;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 0.5em 0 0.5em;
  & > input {
    margin: 0 0.5em 0 auto;
  }
  & > label {
    margin: 0 0 0 0.5em;
  }
}

div#login {
  margin: 1em 0 0 0;
  div.login-fields {
    display: inline-block;
    width: 60%;
    margin-right: 1em;
  }
  div.login-buttons {
    display: inline-block;
    width: 36%;
  }
}

div.actions {
  width: 100%;
  margin: 1em 0 0 0;
  div.button-box {
    width: 65%;
    margin: 0 auto 0 auto;
  }
}

div.review-box {
  display: flex;
  justify-content: space-between;
}

fieldset {
  &.confirm-address, &.confirm-payment, &.confirm-shipper {
    flex: 1 1 auto;
  }
}

tbody tr:nth-of-type(even) {
  background-color: $brown-85;
}

tbody tr:nth-of-type(odd) {
  background-color: darken($brown-85, 5%);
}

tbody {
  border: none;
}

table.user-table {
  border: none;
  background-color: $brown-85;
  width: 100%;
  margin: 0 auto 0 auto;
  
  tr.field {
    line-height: 2em;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    font-size: 1em;
    color: $brown-00;
    &:nth-child(odd) {
      background-color: darken($brown-85, 5%);
    }
  }
  td.label {
    margin: 0 0 0 0;
    padding: 0 1em 0 1em;
    background-color: inherit;
    text-align: left;
    label {
      margin: 0 0 0 0;
      padding: 0 0 0 0;  
    }
  }
  td.input {
    margin: 0 0 0 0;
    padding: 0 0.5em 0 0.5em;
    width: 70%;
    input {
      margin: 0 0 0 0;
      padding: 0 0 0 0;  
      height: 1.8em;
    }
  }
}

table.confirm-table {
  width: 100%;
  border: none;
  border-collapse: collapse;
  background-color: $brown-85;
  font-size: 1em;
  line-height: 1.75em;

  tbody {
    tr {
      td {
        input[type='radio'] {
          margin: 0;
        }
      }
    }
  }
}

table.address-table {
  width: 100%;
  border: none;
  border-collapse: collapse;
  background-color: $brown-85;
  font-size: 1em;
  
  tr.field {
    color: $brown-00;
    &:nth-child(odd) {
      line-height: 2em;
      background-color: darken($brown-85, 5%);
    }
    &:nth-child(even) {
      line-height: 3em;
    }
    td.label {
      line-height: inherit;
      background-color: inherit;
      margin: 0 0 0 0;
      padding: 0 1em 0 1em;
      text-align: left;
      label {
        margin: 0 0 0 0;
        padding: 0 0 0 0;  
      }
    }
  }
  td.input {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    width: 70%;
    input {
      margin: 0 0 0 0;
      padding: 0 0 0 0.25em;  
      &[type="checkbox"] {
        margin: 0;
        padding: 0;
      }
    }
    select {
      margin: 0 0 0 0;
      padding: 0 0 0 0;  
      &.cc-date-select {
        padding-left: 0.2em;  
        width: 49.25%;
      }
    }
    #card_tokenizer_email {
      border: none;
    }
  }
}

// Main cart

div.main-cart {
  width: 100%;
  .actions {
    width: 100%;
    margin: 1em 0 0 0;
  }  
}

table.main-cart {
  width: 100%;
  border: none;
  border-collapse: collapse;
  background-color: darken($brown-85, 5%);
  #discount-line, #subtotal-line, #salestax-line, #shipping-line, #total-line {
    background-color: darken($brown-85, 5%);
  }
  th {
    background-color: darken($brown-85, 5%);
    padding: 0.5em 0.1em 0.5em 0.1em;
  }
  th#remove, #item, #description, #quantity {
    padding: 0.5em 0.5em 0.5em 0.5em;
    text-align: left;
  }
  th#price, #ext, #weight {
    padding: 0.5em 1em 0.5em 0.1em;
    text-align: right;
  }
  th#item, #description {
    padding: 0.5em 0.1em 0.5em 1em;
    text-align: left;
  }
  th#line, #quantity {
    text-align: center;
  }
  td {
    line-height: 1.8em;
    vertical-align: middle;
    padding: 0 0.1em 0 0.1em;
  }
  .line-cell {
    text-align: center;
  }
  .remove-cell {
    width: 1em;
    text-align: center;
    input {
      margin: 0;
    }
  }
  .item-cell, .description-cell {
    text-align: left;
    padding-left: 1em;
  }
  .quantity-cell {
    width: 1em;
    input {
      margin: 0;
      text-align: center;
    }
  }
  .price-cell, .ext-cell {
    padding-right: 1em;
    text-align: right;
  }
  .total-cell, .total-price-cell {
    padding-right: 1em;
    font-weight: bold;
    text-align: right;
  }
  .divider-cell {
    height: 0.5em;
  }
}

// admin orders page

div.date-search {
  display: flex;
  justify-content: space-between;
  padding: 0 0 0.5rem 0;
  
  form {
    display: flex;
    justify-content: flex-start;
  }

  fieldset {
    margin: 0;
    padding: 0;
  }
  
  input {
    display: inline-block;
    height: 1.5rem;
    margin: 0 1rem 0 0.2rem;
    padding: 0 0.2rem 0 0.2rem;
    width: 8.5rem;
  }

  label {
    display: inline-block;
    height: 1.5rem;
    margin: 0;
    padding: 0;
  }
}
