
@import 'foundation';
@import 'colors';

// Product page

.product-box {
  &:nth-of-type(even) {
    background-color: darken($brown-85, 3%);
  }
  padding-bottom: 1rem;
  @include breakpoint(medium) {
    padding: 1rem 1rem 1rem 1rem;
  }
}

.text-box {
  background-color: inherit;
  padding: 0.5rem 0.5rem 0rem 0.5rem;
  @include breakpoint(medium) {
    padding: 1rem 0rem 0rem 0rem;
  }
  &.model {
    padding: 0;
    vertical-align: middle;
    font-family: 'SF Old Republic SC';
    font-size: 1.35em;
    color: $red-50;
    @include breakpoint(medium) {
      font-size: 1.75em;
      line-height: 1.25em;
    }
  }
  &.description {
    line-height: 1;
    vertical-align: middle;
    font-size: 1em;
    display: inline;
    margin: 0;
    @include breakpoint(medium) {
      padding: 0;
      font-size: 1em;
      line-height: 1.4em;
      display: block;
    }
  }
  &.notes {
    font-weight: bold;
  }
  &.index {
    padding: 0rem 0.5rem 0rem 0.5rem;
    @include breakpoint(medium) {
      padding: 0;
      @include flex-order(0);
    }
  }
}

.product-image {
  width: 100%;
  height: auto;
}

.image-box {
  &.bottom {
    margin-top: 1rem;
  }
  &.index {
    padding: 0;
    @include breakpoint(medium) {
      @include flex-order(1);
      padding-left: 1rem;
    }
  }
}

.features-box {
  padding: 0rem 0.5rem 0.5rem 0.5rem;
  @include breakpoint(medium) {
    padding: 0rem 0rem 0rem 0rem;
  }
}

.feature-box {
  padding: 0.5rem 0rem 0rem 0rem;
  @include breakpoint(medium) {
    padding: 1rem 0rem 0rem 0rem;
  }
}

.caption-box {
  font-weight: bold;
  overflow: hidden;
}

.description-box {
  padding-left: 0.3rem;
  @include breakpoint(medium) {
    padding-left: 0rem;
  }
}

.notes-box {
  padding-top: 0.5rem;
  font-weight: bold;
}

.options-box {
  margin-top: 0.5rem;
  .select-option {
    border: 1px solid $brown-60;
    margin: 0;
    width: 100%;
    font-size: 1em;
    background-color: inherit;
    &:focus {
      outline: $brown-30 auto 5px;
      outline-color: $brown-30;
    }
  }
}

.actions-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1rem;
  font-weight: bold;
  color: $red-50;
  .price {
    text-align: left;
    font-size: 1.2em;
    @include breakpoint(medium) {
      font-size: 1.4em;
      padding-right: 1rem;
    }
  }        
  .stock {
    text-align: right;
    font-size: 1.2em;
    white-space: nowrap;
    min-width: 8em;
    @include breakpoint(medium) {
      font-size: 1.4em;
      text-align: center;
    }
  }
  .add {
    .button {
      width: 100%;
      line-height: 1.2;
      font-size: 1.4em;
      @include breakpoint(medium) {
        line-height: 1em;
        font-size: 1.6em;
      }
    }
  }
}  
