
// SCA Breadcrumbs

@import "colors";

ul.sca-crumbs {
  margin: 0 0 1rem 0;
  padding: 0.5rem;
  background-color: darken($brown-85, 5%);
}

.sca-crumbs {
  li {
    &.current a { color: $red-50; }
    &.available a { color: $red-20; }
    &.disabled { color: $brown-50; }

    & > a {
      &:hover {
        text-decoration: none;
      }
    }

    &:not(:last-child)::after {
      color: $red-50
    }
  }
}
