
@import "colors";

fieldset > legend {
  font-weight: bold;
}


div.edit-profile {
  padding: 1rem 0rem 0rem 1rem;
  // width: 100%;
  // margin: 0;
  // div.user {
  //   width: 100%;
  //   margin: 0;
  //   div.user-info {
  //     display: inline-block;
  //     width: 49%;  
  //   }  
  //   div.contact-preferences {
  //     display: inline-block;
  //     width: 49%;    
  //   }
  // }
  // div.addresses {
  //   width: 100%;
  //   div.address {
  //     display: inline-block;
  //     width: 49%;
  //   }
  // }
  // div.actions {
  //   width: 100%;
  //   margin: 1em 0 0 0;
  //   div.button-box {
  //     width: 50%;
  //     margin: 0 auto 0 auto;
  //   }
  // }

  // div.signin-actions {
  //   width: 100%;
  //   margin: 1em 0 0 0;
  //   div.button-box {
  //     width: 60%;
  //     margin: 0 auto 0 auto;
  //   }
  // }

  // fieldset {
  //   font-family: Arial, sans-serif;
  //   font-weight: normal;
  //   margin: 0 0 1em 0;
  //   width: 100%;
  
  //   legend {
  //     background-color: inherit;
  //   }
  // }
}

div.show-profile {
  width: 100%;
  margin: 0;

  div.user {
    width: 100%;
    margin: 0;
    div.user-info {
      display: inline-block;
      width: 39%;  
    }  
    div.contact-preferences {
      display: inline-block;
      width: 59%;    
    }
  }

  div.addresses {
    width: 100%;
    div.address {
      display: inline-block;
      width: 49%;
    }
  }

  div.actions {
    width: 100%;
    margin: 1em 0 0 0;
    div.button-box {
      width: 50%;
      margin: 0 auto 0 auto;
    }
  }

  fieldset {
    font-family: Arial, sans-serif;
    font-weight: normal;
    margin: 0 0 1em 0;
    width: 100%;
  
    legend {
      background-color: inherit;
    }
  }
}
