@import "foundation/components/accordion";
@import "colors";

// 01. Accordion
// - - - - - - - - - - - - - - - - - - - - - - - - -

$include-html-accordion-classes: $include-html-classes;

// $accordion-navigation-padding: rem-calc(16);
// $accordion-navigation-bg-color: $silver  ;
// $accordion-navigation-hover-bg-color: scale-color($accordion-navigation-bg-color, $lightness: -5%);
// $accordion-navigation-active-bg-color: scale-color($accordion-navigation-bg-color, $lightness: -3%);
// $accordion-navigation-font-color: $jet;
// $accordion-navigation-font-size: rem-calc(16);
// $accordion-navigation-font-family: $body-font-family;

// $accordion-content-padding: $column-gutter/2;
// $accordion-content-active-bg-color: $white;
$accordion-content-active-bg-color: darken($brown-85, 2%);


// accordion

$accordion-border: lighten($brown-50, 15%);

.accordion {
  margin-bottom: 1rem;
  border: solid 1px $accordion-border;

  dt {
    color: $red-30;
    background: $brown-60;
    margin: 0;
    padding: 0.30rem;    
  }

  dd.accordion-navigation {

    & > .content {
      &.active {
        padding: 0.85rem;
        background: darken($brown-85, 2%);
      }
    }

    &.active > a {
      background: darken($brown-60, 6%); 
    }

    & > a {
      background: $brown-60;
      color: $brown-00;
      border-top: solid 1px $accordion-border;
      padding: 0.30rem;

      &:hover {
        background: darken($brown-60, 6%);
        text-decoration: none;
      }
    }
  }
}
