
// 04. Breadcrumbs
// - - - - - - - - - - - - - - - - - - - - - - - - -

@import "colors";
@import "foundation/components/breadcrumbs";

// $include-html-nav-classes: $include-html-classes;

// We use this to set the background color for the breadcrumb container.
$crumb-bg: darken($brown-85, 5%);

// We use these to set the padding around the breadcrumbs.
// $crumb-padding: rem-calc(9 14 9);
// $crumb-side-padding: rem-calc(12);

// We use these to control border styles.
// $crumb-function-factor: -10%;
$crumb-border-size: 1px;
$crumb-border-style: solid;
$crumb-border-color: $brown-60;
$crumb-radius: 0px;

// We use these to set various text styles for breadcrumbs.
// $crumb-font-size: rem-calc(11);
$crumb-font-color: $brown-50;
$crumb-font-color-current: $red-30;
$crumb-font-color-unavailable: $brown-50;
// $crumb-font-transform: uppercase;
// $crumb-link-decor: underline;

// We use these to control the slash between breadcrumbs
$crumb-slash-color: $brown-50;
$crumb-slash: "/";

.checkout-breadcrumbs {
  @include crumb-container;
  background-color: darken($brown-85, 5%);
  margin-bottom: 0.5em;
  border: none;
  border-radius: 0px;
  & > *.unavailable {
    @include crumbs;
    &:link { color: $brown-50; }
    &:visited { color: $brown-50; }
    &:hover { color: $brown-50; }
    &:active { color: $brown-50; }
    & a {
      &:link { color: $brown-50; }
      &:visited { color: $brown-50; }
      &:hover { color: $brown-50; }
      &:active { color: $brown-50; }
    }
  }
  & > *.current {
    @include crumbs;
    &:link { color: $red-50; }
    &:visited { color: $red-50; }
    &:hover { color: $red-50; }
    &:active { color: $red-50; }
    & a {
      &:link { color: $red-50; }
      &:visited { color: $red-50; }
      &:hover { color: $red-50; }
      &:active { color: $red-50; }
    }
  }
  & > *.available {
    @include crumbs;
    &:link { color: $red-20; }
    &:visited { color: $red-20; }
    &:hover { color: $red-20; }
    &:active { color: $red-20; }
    & a {
      &:link { color: $red-20; }
      &:visited { color: $red-20; }
      &:hover { color: $red-20; }
      &:active { color: $red-20; }
    }
  }
}
