$brown-10: #16120E;
$brown-20: #382E22;
$brown-23: #653F3C;
$brown-25: #6F5C44;
$brown-27: #A78A65;
$brown-28: #BD9C73;
$brown-30: #DEB887;
$brown-35: #E7CAA5;
$brown-37: #EFDCC4;
$brown-38: #F7EDE1;
$brown-40: #FDF5E6;
$red-10: #660000;
$red-20: #990000;
$red-30: #CC0000;

$grayMediumLight: #EAEAEA;

$body-bg: $brown-10;
