$brown-00: #16120E;
$brown-10: #382E22;
$brown-17: #653F3C;
$brown-20: #6F5C44;
$brown-30: #A78A65;
$brown-40: #BD9C73;
$brown-50: #DEB887;
$brown-60: #E7CAA5;
$brown-70: #EFDCC4;
$brown-80: #F7EDE1;
$brown-85: #FDF5E6;
$brown-90: #FCF8F4;

$blue-00: #060C0F;
$blue-10: #0F1D24;
$blue-20: #1E3A49;
$blue-30: #2C566D;
$blue-40: #32627B;
$blue-50: #3B7391;
$blue-60: #6C96AD;
$blue-70: #9EBAC9;
$blue-80: #CEDCE3;
$blue-90: #ECF2F5;

$red-00: #0D0200;
$red-10: #200400;
$red-20: #400800;
$red-30: #5F0C00;
$red-40: #6C0E00;
$red-50: #7F1000;
$red-60: #9F4C40;
$red-70: #C08880;
$red-80: #DFC3BF;
$red-90: #F3E8E6;

$grayMediumLight: #EAEAEA;

$body-bg: $brown-00;
$panel-border-color: $brown-10;
$table-bg: $brown-85;
$table-even-row-bg: $brown-85;
