/* CSS file */

@import "foundation/components/panels";
@import "foundation/components/alert-boxes";
@import "foundation/components/forms";
@import "buttons";
@import "colors";

div.jump-up {
  width: 100%;
  text-align: right;  
}

span.red-60 {
  color: $red-60;
}

header {
  background-color: $brown-85;
  padding: 0;
  margin: 0;
  border: none;
  
  div.banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 1em;
  }
  
  img.title_1 {
  }
  
  img.logo_1 {
    margin: 0 0 0 0.5em;
  }
  
  div.user-login {
    margin: 0 0 0 auto;
  }
  
  table.login {
    margin: 0;
    padding: 0;
    border: none;
    td {
      margin: 0;
      padding: 0;
      line-height: 1.3em;
      text-align: right;
    }
  }
}

.section-header {
  padding: 0 0 0.125em 0;
  margin: 0.5em 0 0.5em 0;
  border-bottom: solid $red-60;
  border-width: 1px;
}

div.footer {
  background-color: $brown-10;
  clear: both;
  font-size: 0.6em;
  text-align: center;
  color: $brown-30;
  padding: 2em 0 2em 0;
  p {
    margin: 1em 0 1em 0;
    padding: 0;
    font-size: 1em;
    a {
      color: $brown-20;
    }
    a:visited {
      color: $brown-20;
    }
  }    
}

body {
  background: none;
  background-color: $brown-00;
  color: $brown-00;
}


main[role=main] {
  display: block;
  margin: 0;
  padding: 0;
  background: none;
  background-color: $brown-85;
  color: $brown-00;
  div.box_2 {
    background-color: inherit;
    margin: 0em 1em 0em 1em;
    padding: 1em 0 1.5em 0;
  }
}

span.Q {
  float: left;
  width: 2em;
  text-align: right;
  line-height: 1.25em;
}

span.A {
  text-align: left;
  line-height: 1.25em;
}

ul.ul_1 {
  list-style: square; 
  color: #CC0000; 
}

ul.ul_1 li{
  margin: 0 2em 1em 2em;
}

div.slider-box {
  margin: 0;
  padding: 0;
  width: 100%;
}


div.box_3 {
  border: 1px solid $brown-70;
  background: $brown-70;
  text-align: center;
  a img {
      margin: 1em 0em 2em 0em;
  }
}

// fieldset

fieldset {
  border: none;
  margin: 0 0 1em 0;
  padding: 0.5em 0.5em 0.5em 0.5em;

  legend {
    background-color: inherit;
  }
}

// Product index

div.category-box {
  font-weight: bold;
  padding: 0.2em 0.5em 0.2em 0.5em;
  margin: 0 0 0 0;
  background-color: $brown-60;
}

div.admin-box {
  display: flex;
  justify-content: center;
  margin: 0.5em 0 0.5em 0;
}

div.button-box {
  display: flex;
  justify-content: center;
  margin: 0.5em 0 0.5em 0;
}

div.checkout-box {
  display: flex;
  justify-content: space-between;
  margin: 0.5em 0 0.5em 0;
}

div.product {
  display: table;
  table-layout: fixed;
  font-size: 0.85em;
  line-height: 1.3em;
  width: 100%;
  .options-box {
    margin: 1em 0 1em 0;
    .select-option {
      width: 100%;
      height: 1.6em;
      margin: 0;
      padding: 0;
      font-size: 95%;
      background-color: inherit;
      &:focus {
        outline: $brown-30 auto 5px;
        outline-color: $brown-30;
      }
    }
    .actions-box {
      display: flex;
      justify-content: flex-start;
      margin-top: 1em;
      .add {
        & > .button_to {
          display: inherit;
          & > div {
            display: inherit;
          }
        }
      }
      .price {
        text-align: left;
        font-size: 1.75em;
        font-weight: bold;
        color: $red-50;
        margin: auto auto auto 0.5em;
      }        
      .stock {
        color: $brown-10;
        font-size: 1.35em;
        font-weight: bold;      
        margin: auto 0 auto auto;
      }
    }  
  }
  .description {
    margin-top: 0.35em;
  }
  .notes {
    margin-top: 1em;
    font-weight: bold;
  }
  &.small {    
    padding: 0.5em 0 0.5em 0;
    &.even {
      background-color: darken($brown-85, 3%);
    }
    .text-box {
      display: table-cell;
      vertical-align: top;
      padding: 0 0.5em 0 0.5em;
      width: 45%;
      .model {
        // font-weight: bold;
        // font-size: 1.35em;
        font-size: 1.25em;
        color: $red-30;
      }
    }
    .image-box {
      display: table-cell;
      vertical-align: middle;
      & img {
        border: 1px solid $brown-60;
      }
    }
  }
  &.large {
    .product-image {
      margin: 0 0 1em 0;
      border: 1px solid $brown-60;
    }
    .feature-box {
      display: inline-block;
      width: 100%;
      margin: 1em 0 1em 0;
      .caption-box {
        font-weight: bold;
        float: left;
        width: 30%;
      }
      .description-box {
        float: left;
        width: 70%;
      }
      .admin-box {
        text-align: center;
        width: 100%
      }
    }
    .actions {
      margin: 1em 0 0 0;
    }
  }
}

// Cart Peek

#cart-peek {
  float: right;
  margin: 0 0.75em 0 0;
}

// forms

#error_explanation {
  color: $red-30;
  ul {
    font-size: .75em;
    list-style: none;
    margin: 1em 0 1em 0;
  }
}

.field_with_errors {
//  border: solid;
//  border-width: 1px;
//  border-color: $sca-red-3;
  font-weight: bold !important;
  color: $red-30 !important;
}

// Debug panel

.debug_dump {
  @include panel(
    $bg: $brown-60,
    $padding: 20px,
    $adjust: true
  );
  width: 100%;
  margin-top: 45px;
}

// Panel

.panel.callout {
  // @include panel();
  border-style: none;
  border-width: 1px;
  border-color: $brown-20;
  margin-bottom: 1.25rem;
  padding: 1.25rem;
  background: $brown-70;
  color: $brown-10;
}

// Alert/Message box

div[class^='alert-box'], div[class*=' alert-box'] {
  @include alert(
    // Adjust the background of the alert
    // $bg: $red-30
  );
  .close {
    color: $brown-00;
    opacity: 0.75;
    &:hover { opacity: 1.0;}
  }
  margin: 0;
}

/* Users index */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-top: 1px solid $brown-60;
    &:last-child {
      border-bottom: 1px solid $brown-85;
    }
  }
}
