/* CSS file */

@import "foundation/components/side-nav";
@import "foundation/components/panels";
@import "foundation/components/alert-boxes";
@import url(fonts.css.scss);

$sca-brown-1: #16120E;
$sca-brown-2: #382E22;
$sca-brown-3: #DEB887;
$sca-brown-35: #E7CAA5;
$sca-brown-4: #FDF5E6;
$sca-red-1: #660000;
$sca-red-2: #990000;
$sca-red-3: #CC0000;

$grayMediumLight: #eaeaea;

.bg_1 {BACKGROUND-COLOR: $sca-brown-4;}
.bg_2 {BACKGROUND-COLOR: #F7EDE1;}
.bg_3 {BACKGROUND-COLOR: #EFDCC4;}
.bg_4 {BACKGROUND-COLOR: #E7CAA5;}
.bg_5 {BACKGROUND-COLOR: #DEB887;}
.bg_6 {BACKGROUND-COLOR: #BD9C73;}
.bg_7 {BACKGROUND-COLOR: #A78A65;}
.bg_8 {BACKGROUND-COLOR: #6F5C44;}
.bg_9 {BACKGROUND-COLOR: #990000;}
.bg_10 {BACKGROUND-COLOR: #16120E;}

div.logo {
  background: $sca-brown-4;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: auto;
  margin-right: auto;
  width: 43em;  
}

img.title_1 {
  top: 0em;
  left: 18em;
  width: 30em;
}

img.logo_1 {
  top: 0.6em;
  left: 49em;
  width: 12em;
}

main[role=main] {
  background-color: $sca-brown-4;
}

body {
  background-color: $sca-brown-4;
}

span.Q {
  float: left;
  width: 2em;
  text-align: right;
  line-height: 1.25em;
}

span.A {
  text-align: left;
  line-height: 1.25em;
}

ul.ul_1 {
  list-style: square; 
  color: #CC0000; 
}

ul.ul_1 li{
  margin: 0 2em 1em 2em;
}

img.photo_1 {
  top: 0px;
  left: 10px;
  width: 60em;
}

.fb-iframe-align {
    margin: 0 0 0 10px !important;
    text-align:center;
}

div.box_1 {
}

div.box_2 {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  margin-left: 1em;
  margin-right: 1em;
  border: 1px solid $sca-brown-35;
  padding: 0;
}

div.box_3 {
  border: 1px solid $sca-brown-2;
  background: #EFDCC4;
  text-align: center;
  a img {
      margin: 1em 0em 2em 0em;
  }
}

.custom-side-nav {
  @include side-nav(
    $link-color: $sca-brown-1,
    $font-size: 1em
  );
  font-family: verdana, sans-serif;
  font-weight: normal;
  text-align: left;
  line-height: 1.05em;
  background: $sca-brown-3;
  border: solid $sca-brown-2;
  border-width: 1px;
  margin: 1em 1em 1em 1em;
  padding: 1em 1em 1em 1em;

  a {
    &:visited:hover {
      color: #F7EDE1;
      text-decoration: none;
    }
    &:hover {
      color: #F7EDE1;
      text-decoration: none;
    }
    &:visited {
      text-decoration: none;
    }
  }
}

$accordion-border: lighten($sca-brown-3, 15%);

.accordion {
  margin-bottom: 0;
  border-left: solid $accordion-border;
  border-right: solid $accordion-border;
  border-bottom: solid $accordion-border;
  border-width: 1px;
}
.accordion:before, .accordion:after {
  content: " ";
  display: table; }
.accordion:after {
  clear: both; }
.accordion dd {
  display: block;
  margin-bottom: 0 !important;
}
.accordion dd.active a {
  background: darken($sca-brown-35, 6%); 
}
.accordion dd > a {
  background: $sca-brown-35;
  color: $sca-brown-1;
  border-top: solid $accordion-border;
  border-width: 1px;
  padding: 0.30rem;
  display: block;
//  font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
//  font-size: 1rem; 
}
.accordion dd > a:hover {
  background: darken($sca-brown-35, 6%);
}
.accordion .content {
  display: none;
  padding: 0.85rem; }
.accordion .content.active {
  display: block;
  background: lighten($sca-brown-4, 3%); 
  border-top: solid $accordion-border;
  border-width: 1px;
}


div.box_4 {
}

div.box_5 {
  margin: 1em 6em 1em 6em;
  padding: 0;
}

div.section_header {
  font-weight: bold;
  margin: 0 0 1em 0;
  border-bottom: solid $sca-red-3;
  border-width: 2px;
}

div.footer {
  clear: both;
  font-size: .6em;
  text-align: center;
  color: #A78A65;
  margin-top: 4em;
  margin-bottom: 2em;
}

div.popup {
  height: 90%;
/*  width: 90%;*/
  background: $sca-brown-4;
  text-align: center;
  padding: 5% 5% 5% 5%;
  margin: 5% 5% 5% 5%;
}

div.popup2 {
  height: 90%;
  background: $sca-brown-4;
  font-family: verdana, sans-serif;
  font-weight: normal;
  font-size: 75%;
  text-align: left;
  padding: 5% 5% 5% 5%;
  margin: 5% 5% 5% 5%;
}

img.prodphoto {
  text-align: center;
  width: 46em;
  margin: 0 2em 2em 2em;
  padding: 0;
  border: 0;
}

img.opampphoto {
  text-align: center;
  width: 30em;
  margin-top: 2em;
  margin-bottom: 2em;
  padding: 0;
  border: 0;
}

p.prodtext {
  margin: 0em 0em 2em 0em;
}

p.asmtext {
  margin: 1em 0em 0em 0em;
}

table.specs {
  border-width: 1px 1px 1px 1px;
  border-spacing: 2px;
  border-style: solid solid solid solid;
  border-color: #382E22;
  border-collapse: collapse;
  width: 100%; 
  margin: 0em 0em 2em 0em;
}

table.specs td {
  border-width: 1px 1px 1px 1px;
  padding: 2px 2px 2px 2px;
  border-style: solid solid solid solid;
  border-color: #382E22;
  border-color: #E7CAA5;
}

table.opamp {
  border-width: 1px 1px 1px 1px;
  border-spacing: 2px;
  border-style: solid solid solid solid;
  border-color: #382E22;
  border-collapse: collapse;
  width: 100%; 
  margin: 0em 0em 2em 0em;
}

table.opamp td {
  border-width: 1px 1px 1px 1px;
  padding: 2px 2px 2px 2px;
  border-style: solid solid solid solid;
  border-color: #382E22;
}
  
table.cart {
  text-align: left;
  font-size: .8em;
  border-width: 1px 1px 1px 1px;
  border-spacing: 2px;
  border-style: solid solid solid solid;
  border-color: #382E22;
  border-collapse: collapse;
  margin: 4em auto 4em auto;
}

table.cart td {
  border-width: 1px 1px 1px 1px;
  padding: 2px 2px 2px 2px;
  border-style: solid solid solid solid;
  border-color: #382E22;
}

tr.feature {
  vertical-align: top;
  margin: 0em 0em 2em 0em;
/*  border: 1px solid #cc0000;*/
}

td.feature {
  width: 10em;
  padding: 0em 0em 2em 0em;
/*  border: 1px solid #cc0000;*/
}

td.description {
  padding: 0em 0em 2em 0em;
/*  border: 1px solid #cc0000;*/
}

hr {
  border: 0;
  height: 2px;
  color: #CC0000;
  background: #CC0000;
}


a {
  color: #990000;
  text-decoration: none
}

a:hover {
  color: #CC0000;
  text-decoration: underline
}

a:visited {
  color: #660000;
  text-decoration: none
}

a:visited:hover {
  color: #660000;
  text-decoration: underline
}

a.prodname
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 12px;
    COLOR: #000000;
    FONT-FAMILY: arial, sans-serif
}

/* forms */

#error_explanation {
  color: $sca-red-3;
  ul {
    font-size: .75em;
    list-style: none;
    margin: 1em 0 1em 0;
  }
}

.field_with_errors {
//  border: solid;
//  border-width: 1px;
//  border-color: $sca-red-3;
  font-weight: bold !important;
  color: $sca-red-3 !important;
}

/* miscellaneous */

.debug_dump {
  @include panel(
    $bg: $sca-brown-35,
    $padding: 20px,
    $adjust: true
  );
  width: 100%;
  margin-top: 45px;
}

.alert-box {
  @include alert(
    // Adjust the background of the alert
    $bg: $sca-red-3,
    // Give a border to the alert box
    $radius: false !important
  );
  margin-top: 1em;
}
