@font-face {
  font-family: 'SF Old Republic SC';
  src:font-url('SF_Old_Republic_SC.ttf') format('truetype'),
    url('SF_Old_Republic_SC.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SF Old Republic SC Bold';
  src:font-url('SF_Old_Republic_SC_Bold.ttf') format('truetype'),
    url('SF_Old_Republic_SC_Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
} 