// option edit pages

@import "colors"

.field_row
  display: flex
  justify-content: space-between

.field
  flex: 1 1 auto

.checkbox_field
  display: flex
  flex-direction: column

  input[type=checkbox]
    margin: auto auto 1.85rem auto

.description_field
  flex: 4 1 auto