// Place all the styles related to the Orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "colors";
@import "foundation/components/breadcrumbs";
@import "foundation/components/buttons";

div.user-info {
  width: 49%;  
}

div.addresses {
  width: 100%;
  margin: 0;
  div.address {
    display: inline-block;
    width: 49%;
    margin: 0;
  }
}

div#login {
  margin: 1em 0 0 0;
  div.login-fields {
    display: inline-block;
    width: 60%;
    margin-right: 1em;
  }
  div.login-buttons {
    display: inline-block;
    width: 36%;
    .form-button {
      display: block;
      margin: 1em 0 1em 0;
      padding: 1em 0 1em 0;
      width: 100%;
      .button {
        @include button();
        width: 100%;
        margin: 0;
        padding: 0.25em;
      }
    }
  }
}

.checkout-buttons {
  margin: 1em 0 0 0;
  width: 100%;
  .form-button {
    display: inline-block;
    margin: 0;
    padding: 0;
    width: 32.5%;
    .button {
      display: block;
      @include button();
      width: 100%;
      margin: 0;
      padding: 0.25em;
    }
    .paypal-button {
      display: block;
      text-align: center;
      width: 100%;
      margin: 0 0.5em 0 0.5em;
      a img {
        margin: 0 auto 0 auto;
      } 
    }
  }
}


.actions {
  width: 100%;
  margin: 1em 0 0 0;
  .form-button {
    display: inline-block;
    margin: 0;
    padding: 0 0.5em 0 0.5em;
    width: 49.7%;
    .button {
      @include button();
      width: 100%;
      margin: 0;
      padding: 0.25em;
    }
  }
}

div.review-box {
  width: 100%;
}

fieldset {
  font-family: Arial, sans-serif;
  font-weight: normal;
  border: none;
//  border: solid 1px $brown-35;
  margin: 0 0 1em 0;

  legend {
    background-color: inherit;
  }
  &.confirm-address, &.confirm-payment, &.confirm-shipper {
    display: inline-block;
    width: 33%;
  }
}

table.user-table {
  border: none;
  background-color: $brown-40;
  width: 100%;
  margin: 0 auto 0 auto;
  
  tr.field {
    line-height: 2em;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    font-size: 1em;
    color: $brown-10;
    &:nth-child(odd) {
      background-color: darken($brown-40, 5%)
    }
  }
  td.label {
    margin: 0 0 0 0;
    padding: 0 1em 0 1em;
    background-color: inherit;
    text-align: left;
    label {
      margin: 0 0 0 0;
      padding: 0 0 0 0;  
    }
  }
  td.input {
    margin: 0 0 0 0;
    padding: 0 0.5em 0 0.5em;
    width: 70%;
    input {
      margin: 0 0 0 0;
      padding: 0 0 0 0;  
      height: 1.8em;
    }
  }
}

table.address-table {
  border: none;
  background-color: $brown-40;
  width: 100%;
  margin: 0 auto 0 auto;
  
  tr.field {
    line-height: 2em;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    font-size: 1em;
    color: $brown-10;
    &:nth-child(odd) {
      background-color: darken($brown-40, 5%)
    }
  }
  td.label {
    margin: 0 0 0 0;
    padding: 0 1em 0 1em;
    background-color: inherit;
    text-align: left;
    label {
      margin: 0 0 0 0;
      padding: 0 0 0 0;  
    }
  }
  td.input {
    margin: 0 0 0 0;
    padding: 0 0.5em 0 0.5em;
    width: 70%;
    input {
      margin: 0 0 0 0;
      padding: 0 0 0 0;  
      height: 1.8em;
    }
  }
}

table.shipper {
  display: inline-block;
  border: solid 1px $brown-35;
  background-color: inherit;
  width: 50%;
  margin: 0 auto 0 auto;
  
  tr {
    line-height: 1em;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    font-size: 1em;
    color: $brown-10;
    &:nth-child(odd) {
      background-color: darken($brown-40, 5%)
    }
  }
  td {
    width: 100%;
    margin: 0 0 0 0;
    padding: 0.1em 0.5em 0.1em 0.5em;
    background-color: inherit;
    text-align: left;
    vertical-align: center;
    input {
      margin: 0;
      padding: 0;
    }
  }
}

// breadcrumbs

.checkout-breadcrumbs {
  @include crumb-container;
  border: 1px solid $brown-35;
  background-color: darken($brown-40, 5%);
  li {
    @include crumbs;
    a { color: $brown-10; }
    &.unavailable a { color: $brown-30; }
    &.unavailable:hover a { color: $brown-30, 25%; }
  }
}

// confirm cart

table.confirm-cart {
  border: none;
  background-color: darken($brown-40, 5%);
  tr#discount-line, #subtotal-line, #shipping-line, #total-line {
    background-color: darken($brown-40, 5%);
  }
  tr#divider-line {
    background-color: $brown-40;
  }
  th {
    background-color: darken($brown-40, 5%);
    padding: 0.5em 0.1em 0.5em 0.1em;
  }
  th#line, #item, #description, #quantity {
    text-align: center;
  }
  th#price, #ext, #weight {
    padding: 0.5em 1em 0.5em 0.1em;
    text-align: right;
  }
  th#item, #description {
    padding: 0.5em 0.1em 0.5em 1em;
    text-align: left;
  }
  th#line, #quantity {
    text-align: center;
  }
  td {
    line-height: 1.8em;
    vertical-align: middle;
    padding: 0 0.1em 0 0.1em;
  }
  .line-cell {
    text-align: center;
  }
  .item-cell, .description-cell {
    text-align: left;
    padding-left: 1em;
  }
  .quantity-cell {
    width: 1em;
    text-align: center;
  }
  .price-cell, .ext-cell {
    padding-right: 1em;
    text-align: right;
  }
  .total-cell, .total-price-cell {
    padding-right: 1em;
    font-weight: bold;
    text-align: right;
  }
  .divider-cell {
    height: 2em;
  }
}

// Main cart

div.main-cart {
  width: 100%;
  .actions {
    width: 100%;
    margin: 1em 0 0 0;
    .form-button {
      display: inline-block;
      margin: 0;
      padding: 0;
      width: 24.5%;
      .button {
        @include button();
        width: 100%;
        margin: 0;
        padding: 0.25em;
      }
    }
    .paypal-button {
      margin: 1em 0 0 0;
      width: 100%;
      a img {
        display: block;
        margin-left: auto;
        margin-right: auto;
      } 
    }
  }  
}

table.main-cart {
  width: 100%;
  border: none;
  background-color: darken($brown-40, 5%);
  tr#discount-line, #subtotal-line, #shipping-line, #total-line {
    background-color: inherit;
  }
  tr#divider-line {
    background-color: $brown-40;
    line-height: 0.5em;
  }
  th {
    background-color: darken($brown-40, 5%);
    padding: 0.5em 0.1em 0.5em 0.1em;
  }
  th#remove, #item, #description, #quantity {
    text-align: center;
  }
  th#price, #ext, #weight {
    padding: 0.5em 1em 0.5em 0.1em;
    text-align: right;
  }
  th#item, #description {
    padding: 0.5em 0.1em 0.5em 1em;
    text-align: left;
  }
  th#remove, #quantity {
    text-align: center;
  }
  td {
    line-height: 1.8em;
    vertical-align: middle;
    padding: 0 0.1em 0 0.1em;
  }
  .remove-cell {
    width: 1em;
    text-align: center;
    input {
      margin: 0;
    }
  }
  .item-cell, .description-cell {
    text-align: left;
    padding-left: 1em;
  }
  .quantity-cell {
    width: 1em;
    input {
      margin: 0;
      text-align: center;
    }
  }
  .price-cell, .ext-cell {
    padding-right: 1em;
    text-align: right;
  }
  .total-cell, .total-price-cell {
    padding-right: 1em;
    font-weight: bold;
    text-align: right;
  }
  .divider-cell {
    height: 0.5em;
  }
}
