@import "foundation/components/orbit";
@import "colors";

div.slider-image-index {
  div.field {
    margin: 0 0 0.2em 0;
    label {
      margin: 0;
      display: inline-block;
      width: 15%;
      height: 1.8em;
    }
    input {
      margin: 0;
      display: inline;
      width: 80%;
      height: 1.8em;
      &[type="number"] {
        padding: 0 0 0 0.5em;
      }
    }
  }
  div.actions {
    margin: 0 0 1em 0;
    div.action-spacer {
      display: inline-block;
      width: 15%;
    }
    div.action-buttons {
      display: inline-block;
      width: 80%;
    }
  }
}

div.slider-admin-box {
  margin: 1em 0 1em 0;
  div.action-buttons {
    margin: 0 auto 0 auto;
    width: 50%;
  }
}
