// 34. Top Bar
// - - - - - - - - - - - - - - - - - - - - - - - - -

@import "colors";

// Background color for the top bar
$topbar-bg-color: $brown-50;
$topbar-bg: $topbar-bg-color;

// Height and margin
// $topbar-height: 45px;
$topbar-height: 1.8em;
// $topbar-margin-bottom: 0;

// Controlling the styles for the title in the top bar
// $topbar-title-weight: $font-weight-normal;
// $topbar-title-font-size: rem-calc(17);

// Set the link colors and styles for top-level nav
$topbar-link-color: $brown-00;
$topbar-link-color-hover: $brown-00;
$topbar-link-color-active: $brown-00;
$topbar-link-color-active-hover: $brown-00;

// $topbar-link-weight: $font-weight-normal;
$topbar-link-weight: bold;
// $topbar-link-weight: $font-weight-bold;
$topbar-link-weight: bold;
// $topbar-link-font-size: rem-calc(13);
$topbar-link-font-size: 1em;
// $topbar-link-hover-lightness: -10%; // Darken by 10%
$topbar-link-hover-lightness: 5%; // Darken by 10%

// $topbar-link-bg: $topbar-bg;
// $topbar-link-bg-color-hover: $charcoal;
$topbar-link-bg-color-hover: lighten( $brown-50, 5% );
// $topbar-link-bg-hover: #272727;
$topbar-link-bg-hover: lighten( $brown-50, 5% );
// $topbar-link-bg-active: $primary-color;
$topbar-link-bg-active: $brown-50;
$topbar-link-bg-active-hover: lighten( $brown-50, 5%);

// $topbar-link-font-family: $body-font-family;
// $topbar-link-text-transform: none;
// $topbar-link-padding: $topbar-height / 3;
// $topbar-back-link-size: $h5-font-size;
// $topbar-link-dropdown-padding: 20px;

// $topbar-button-font-size: 0.75rem;
// $topbar-button-top: 7px;

// Style the top bar dropdown elements
// $topbar-dropdown-bg: #0F0;  //$brown-60;
$topbar-dropdown-link-color: $brown-00;
$topbar-dropdown-link-bg: $brown-60;
// $topbar-dropdown-link-weight: $font-weight-normal;
$topbar-dropdown-link-font-size: 0.9em;  //rem-calc(13);
// $topbar-dropdown-toggle-size: 15px;
// $topbar-dropdown-toggle-color: $brown-60;
// $topbar-dropdown-toggle-alpha: 0.4;

// $topbar-dropdown-label-color: $monsoon;
// $topbar-dropdown-label-text-transform: uppercase;
// $topbar-dropdown-label-font-weight: $font-weight-bold;
// $topbar-dropdown-label-font-size: 0.9em;  //rem-calc(10);
// $topbar-dropdown-label-bg: $oil;
// $topbar-dropdown-label-bg: $brown-50;

// Top menu icon styles
// $topbar-menu-link-transform: uppercase;
// $topbar-menu-link-font-size: rem-calc(13);
// $topbar-menu-link-weight: $font-weight-bold;
// $topbar-menu-link-color: $white;
// $topbar-menu-icon-color: $white;
// $topbar-menu-link-color-toggled: $jumbo;
// $topbar-menu-icon-color-toggled: $jumbo;

// Transitions and breakpoint styles
// $topbar-transition-speed: 300ms;
// Using rem-calc for the below breakpoint causes issues with top bar
// $topbar-breakpoint: #{lower-bound($medium-range)}; // Change to 9999px for always mobile layout
// $topbar-media-query: $medium-up;

// Divider Styles
// $topbar-divider-border-bottom: solid 1px  scale-color($topbar-bg-color, $lightness: 13%);
// $topbar-divider-border-top: solid 1px scale-color($topbar-bg-color, $lightness: -50%);

// Sticky Class
// $topbar-sticky-class: ".sticky";
// $topbar-arrows: true; //Set false to remove the triangle icon from the menu item
$topbar-arrows: false;

.top-bar-section .has-dropdown {
  .dropdown {
    border: 1px solid scale-color($brown-60, $lightness: -5%);
  
    li > a {
      font-size: 0.9em;
      min-width: 12em;
    }
    
    li.has-dropdown > a {
      &:after {
        // content: "\00bb";
        // top: 0;
        margin-top: -12px !important;
        // right: 5px;
        // width: 10px;
      }
    }
  }
}

.top-bar-section .dropdown li:not(.has-form):not(.active) > a:not(.button):hover {
  background-color: lighten( $brown-60, 5%) !important;
}

.top-bar-section li:not(.has-form) a:not(.button) {
  line-height: 1.8em !important;
}
 
.top-bar-section li a:not(.button):hover {
  text-decoration: none;
}
