<div class="feature-box">
	<div class="caption-box">
			<%= f.caption %>
	</div>
	<div class="description-box">
		<%= f.description %>
	</div>
</div>
<% if signed_in_admin? %>
	<div class="admin-box">
		<%= link_to "edit", edit_product_feature_path(p, f),
												title: f.caption %>
		
    <%= link_to "delete", product_feature_path(p, f), 
    											method: :delete,
                         	data: { confirm: "You sure?" },
                          title: f.caption %>
	</div>
<% end %>
