<% provide(:title, @product) %>

<div class="box_2">
	<div class="row">
		<div class="small-12 columns">
			<%= form_for(@product) do |f| %>
				<%= render 'shared/errors', object: f.object %>
				<%= render :partial => 'form', :locals => { 
																				:f => f, 
																				:legend => 'Update Product ' << @product.id.to_s, 
																				:submit => 'Save',
																				:edit => nil,
																				:quit => 'Quit',
																				:delete => 'Delete' } %>
			<% end %>
		</div>
	</div>	
</div> <!-- box_2 -->

