<% provide(:title, 'Products') %>
<div class="box_2">
	<div class="row">
		<div class="small-12 columns">
			<%= render partial: 'product', collection: @products %>
			<% if signed_in_admin? %>
				<div class= "admin-box">
					<%= link_to 'New Product', new_product_path, label: 'New Product', class: "button admin" %>
				</div>
			<% end %>
		</div>
	</div>	
</div>
