<footer class="footer">
	<div class="footer">
	<i>All trademarks used in these pages are the property of their respective owners.</i><br><br>
	&copy; 2012 Seventh Circle Audio, LLC<br>Unauthorized Use Prohibited<br><br>
	</div>
	
	<script type="text/javascript">
	var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
	document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
	</script>
	<script type="text/javascript">
	var pageTracker = _gat._getTracker("UA-5745785-1");
	pageTracker._trackPageview();
	</script>
</footer>