%header
  .banner
    = image_tag "title3.gif", class: 'title_1'
    = image_tag "logo4.gif", class: 'logo_1'
  .user-login
    = render 'layouts/login'
  .contain-to-grid
    = render 'layouts/navigation'
