<header>
	<div class="logo">
		<%= image_tag "title3.gif", :class => 'title_1' %>
		<%= image_tag("logo4.gif", class: "logo_1") %>
	</div>
	<div class="navbar">
	  <%= render 'layouts/navigation' %>
	 </div>
</header>
