<table class="login">
  <% if signed_in? %>
	  <tr><td><%= link_to "Log Out",	signout_path, method: "delete" %></td></tr>
    <tr><td><%= link_to "My Account", current_user %></td></tr>
  <% else %>
  	<tr><td><%= link_to "Log In", signin_path %></td></tr>
  	<tr><td><%= link_to "Create Account", signup_path %></td></tr>
  <% end %>
</table>
