-flash.each do |name, msg|
  -if msg.is_a?(String)
    %div{ class: "callout #{ alert_div_class(name) }", data: { closable: ''} }
      =content_tag :div, msg
      %button.close-button{ href: "#", data: { close: ''}} &times;