%nav.top-bar{ data: {topbar: ''}, role: "navigation" }
  %ul.title-area
    %li.name
  %section.top-bar-section
    %ul.left
      =render 'layouts/navigation_links'
    %ul.right
      =render 'layouts/cart_peek'