.box_2{style: "padding: 10px 10px 5px 10px"}
  %span{style: "font-style: italic"}
    We're short staffed through Monday, Sept 16, so assembled items may take longer than indicated and answers to questions may be delayed.  Thank you for your patience.