.box_2
  %span{style: "font-style: italic"}
    We're short staffed through Feb 17, so assembled items may take longer than indicated and answers to questions may be delayed.  Thank you for your patience.