.box_2{style: "padding: 10px 10px 5px 10px"}
  %span{style: "font-style: italic"}
    We're short staffed from Saturday, Sept 21 through Thursday, Oct 10, so assembled items will take longer than indicated and answers to questions may be delayed.  Thank you for your patience.